.titulo{
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

.menu{
  background-color: #0099cc;
}

.cor-letra{
	color: white;
}

.botao{
	float:right;
	width: 100px;
}

html,body{
	background-image: url('https://i.pinimg.com/originals/3c/55/14/3c5514ec51d377145201b361b35b05a5.jpg');
	font-family: "Lucida Sans", sans-serif;
	margin: 1cm;
}